<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>

  </head>
  <body>
      
  <h1>Choose a college of your choice</h1>
  <% console.log(data.results[0].school.name) %>
  
  <% var schools = data.results.filter(function(result){ return true })  %>
  <% console.log(schools)  %>
  
  <ol>
    <% for (var i = 0; i < schools.length; i++) { %>
    <% var name = schools[i].school.name %>
    <li>
      <a href="<%= `/singleCollege/${name.replace(" ", "%20").replace(" ", "%20").replace(" ", "%20").replace(" ", "%20").replace(" ", "%20").replace(" ", "%20")}` %>" class = 'collegereturn'>
        <%= name %>
      </a>
    </li>
  <% } %>
  </ol>
 
<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb5TE6H82gHmdnUqILEj0cjlufGeXJ2eg&callback=initMap"
    async defer></script>

 
  <script>
    function filterData(name){
      alert(name)
    }
  </script>
  </body>
</html>


