<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>

  </head>
  <body>
      
  <h1>Choose a college of your choice</h1>
  <% console.log(data.results[0].school.name) %>
  
  <% var schools = data.results.filter(function(result){ return true })  %>
  <% console.log(schools)  %>
  
  <ol>
    <% for (var i = 0; i < schools.length; i++) { %>
    <% var name = schools[i].school.name %>
    <li>
      <a href="<%= `/singleCollege/${name.replace(" ", "%20").replace(" ", "%20").replace(" ", "%20").replace(" ", "%20").replace(" ", "%20").replace(" ", "%20")}` %>" class = 'collegereturn'>
        <%= name %>
      </a>
    </li>
  <% } %>
  </ol>
 
<div id="map"></div>
    <script>
      function initMap() {
      var locations = [
      ['UC Santa Barbara', 34.413963, -119.848947, 4],
      ['UC Santa Cruz', 36.991474, -122.058297, 5],
      ['Santa Clara University', 37.349642, -121.938987, 3],
      ['Stanford', 37.427475, -122.169719, 2],
      ['UCLA', 34.068921, -118.445181, 1],
      ['HollyWood', 34.092809, -118.328661, 6]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: new google.maps.LatLng(36.778261, -119.417932),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
      }
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb5TE6H82gHmdnUqILEj0cjlufGeXJ2eg&callback=initMap"
    async defer></script>

 
  <script>
    function filterData(name){
      alert(name)
    }
  </script>
  </body>
</html>


