<!DOCTYPE html>
<html>
  <head>
    <title>College Searcher</title>
    <link rel="stylesheet" href="css/home.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  </head> 
  <body>
    <h1 class="title">All About Colleges</h1>
    <div class = 'tophalf'>
      <img src = 'https://cdn3.iconfinder.com/data/icons/school-solid-icons-vol-1/96/001-512.png' style = 'width: 200px; height: 200px; padding-top: 100px; padding-left: 560px;'>
    <div clss = 'butt'>
      <form method = "POST" action = "/results">
        <p class = 'inputtext'>Enter Your State by Abbreviation:<input class = 'stateinput' name="college"/><button class = 'submitbutt' type="Submit">Submit</button></p>
      </form>
    </div>
    </div>

  </body>

</html>