<!DOCTYPE html>
<html>
  <head>
    <title>College Searcher</title>
    <link rel="stylesheet" href="css/home.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  </head> 
  <body>
    <h1 class="title">All About Colleges</h1>
    <div class = 'tophalf'>
    <div clss = 'butt'>
      <form method = "POST" action = "/results">
        <p class = 'inputtext'>Enter Your State:<input class = 'stateinput' name="college"/><button class = 'submitbutt' type="Submit">Submit</button></p>
      </form>
    </div>
    </div>
    <div class="bothalf">
      <p class = "universitySlogan">"Fight On!" -USC</p>
    </div>
  </body>

</html>